<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag image_path(@movie.hero_image.asset.url), class: "card-img-top", alt: @movie.title %>
    </div>
    <div class="col">
      <label>Title</label>
        <p><%= @movie.title %></p>
      <label>Plot</label>
        <p><%= @movie.plot %></p>
      <label>Year</label>
        <p><%= @movie.year %></p>
      <label>Genre</label>
        <p><%= @movie.genres.pluck(:name).join(", ") %></p>
      <label>Run Time</label>
        <p><%= @movie.run_time %></p>
      <label>IMDB Rating</label>
        <p><%= @movie.imdb_rating %></p>
    </div>
  </div>
</div>
